/*
Theme Name: Mercury
Theme URI: https://mercurytheme.com/
Author: Space-Themes.com
Author URI: https://space-themes.com/
Description: Affiliate Marketing WordPress Theme.
Version: 3.9
Requires at least: 5.0
Tested up to: 6.0
Requires PHP: 7.0
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: four-columns, custom-colors, theme-options, custom-menu, featured-images, translation-ready, news, post-formats, block-styles
Text Domain: mercury
*/

/* Table Of Contents Start

1 - Body
2 - Common Items
3 - Header #1 Style
4 - Header #2 Style
5 - Menu Item Labels
6 - Search Block
7 - Mobile Menu
8 - #1 Widget
9 - #2 Widget
10 - #3 Widget
11 - #4 Widget
12 - #5 Widget
13 - #6 Widget
14 - #7 Widget
15 - #8 Widget
16 - #9 Widget
17 - #10 Widget
18 - #11 Widget
19 - Title Box
20 - Archive Section
21 - Archive Navigation
22 - Page Section
23 - Comments Template
24 - Standart WordPress Widgets
25 - Footer
26 - Back to Top
27 - MailChimp Form Widget
28 - Contact Form 7
29 - WordPress Gallery
30 - Gutenberg Editor

Table Of Contents End */

/* Body Start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	overflow-x: hidden;
	box-sizing: border-box;
 }
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background-color: #fff;
	color: #2e3246;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 100%;
	-webkit-font-smoothing: antialiased;
	margin: 0px auto;
	padding: 0px;
	overflow: hidden;
}

::-webkit-input-placeholder {
  color: #2d3436;
}
:-ms-input-placeholder {
  color: #2d3436;
}
::-moz-placeholder {
  color: #2d3436;
  opacity: 1;
}
:-moz-placeholder {
  color: #2d3436;
  opacity: 1;
}

:focus::-webkit-input-placeholder,
:focus::-moz-placeholder,
:focus:-moz-placeholder,
:focus:-ms-input-placeholder {
	color: transparent;
}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	-webkit-backface-visibility: hidden;
	color: #151515;
}
h1,
h1 a {
	font-size: 3.157em;
	line-height: 1.2em;
}
h2,
h2 a {
	font-size: 2.369em;
	line-height: 1.2em;
}
h3,
h3 a {
	font-size: 1.777em;
	line-height: 1.2em;
}
h4,
h4 a {
	font-size: 1.333em;
	line-height: 1.2em;
}
h5,
h5 a {
	font-size: 1em;
	line-height: 1.2em;
}
h6,
h6 a {
	font-size: 0.75em;
	line-height: 1.2em;
}
img {
	max-width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
}

iframe,
embed,
object,
video {
	max-width: 100%;
}
input,
textarea {
    outline:none;
	outline: 0;
}
:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0 !important;
}
input[type="text"]:focus {
	outline: none;
}
a, a:visited {
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
a:hover {
	text-decoration: none;
}
a:active,
a:focus {
	outline: none;
}
div {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	display:block;
}
div::-webkit-scrollbar{
    width:0;
}
p {
	line-height: 1.65em;
}
input[type="text"],
input[type="tel"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea,
select {
	color: #2d3436;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.45em;
	background-color: #fefeff;
	border-radius: 5px;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #e4e4e4;
	width: 100%;
	padding: 11px 15px;
	-webkit-appearance: none;
}
input[type="search"] {
	background-color: #f1f3f4;
}
input[type="text"],
input[type="tel"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="url"],
select {
	height: 45px;
}
textarea {
	padding: 15px;
}
input[type="submit"] {
	width: 100%;
	background-color: #be2edd;
	border: 0;
	padding: 11px 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.45em;
	height: 45px;
	color: #fff;
	border-radius: 5px;
	-webkit-appearance: none;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
input[type="submit"]:hover {
	background-color: #57606f;
}
.space-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}
.space-page-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 0 60px;
}
.space-block-title {
	padding: 0 15px 30px;
	font-family: 'Roboto', sans-serif;
	color: #151515;
	font-size: 1.333em;
	line-height: 1.45em;
	font-weight: 700;
}
.space-block-title span {
	z-index: 1;
	padding-left: 23px;
	position: relative;
}
.space-block-title span:before {
	content: '';
    z-index: 1;
    opacity: 0.8;
    width: 11px;
    height: 11px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: 4px;
    background-color: #ff2453;
}
.space-block-title span:after {
	content: '';
    z-index: -1;
    width: 11px;
    height: 11px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: 11px;
    background-color: #be2edd;
}
.space-page-body.fixed {
	padding-top: 90px;
}
.space-box {
	background-color: #fff;
}
.space-box.enabled {
	max-width: 1260px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

/* Body End */

/* Common Items Start */

.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.initial {
	position: initial;
}
.fixed {
	position: fixed;
}
.left {
	float: left;
}
.right {
	float: right;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.box-100 {
	width: 100%;
}
.box-20 {
	width: 20%;
}
.box-25 {
	width: 25%;
}
.box-33 {
	width: 33.33333333%;
}
.box-40 {
	width: 40%;
}
.box-50 {
	width: 50%;
}
.box-60 {
	width: 60%;
}
.box-66 {
	width: 66.66666666%;
}
.box-75 {
	width: 75%;
}
.box-80 {
	width: 80%;
}
.clear {
	clear: both;
}
a.underline {
	text-decoration: underline !important;
}
a.underline:hover {
	text-decoration: none !important;
}
.case-15 {
	margin: 0 15px 30px;
	padding: 0;
}
.space-post-format {
	background: rgba(0, 0, 0, 0.5);
	top: 15px;
	right: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	line-height: 40px;
	color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.space-post-format i.fa-play {
	padding-left: 3px;
}
.space-post-format i.fa-camera {
	padding-left: 1px;
}
.wp-caption {
	max-width: 100%;
	padding: 1.45em 0 2.9em;
}
.alignleft {
	float: left;
	padding: 8px 30px 20px 0;
	text-align: left;
}
.alignright {
	float: right;
	padding: 8px 0 20px 30px;
	text-align: right;
}
.aligncenter {
	display: block;
	margin: 0 auto;
	padding-bottom: 2.9em;
	text-align: center;
}
.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	padding-bottom: 2.9em;
}
.wp-caption p.wp-caption-text {
	padding: 0;
	margin-bottom: 0;
	font-style: italic;
    color: #7f8c8d;
	font-size: 0.75em;
    line-height: 1.45em;
	text-align: center;
}
.wp-caption.alignleft p.wp-caption-text {
	text-align:left;
}
.wp-caption.aligncenter p.wp-caption-text {
	text-align:center;
}
.wp-caption p.wp-caption-text a {
	color: #7f8c8d;
	text-decoration: underline;
}
.wp-caption p.wp-caption-text a:hover {
	text-decoration: underline;
}
.space-mobile-view {
	display: none;
}
.space-overlay {
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.space-close-icon {
	top: 0;
    right: 0;
	width: 20px;
	height: 21px;
	cursor: pointer;
}
.space-close-icon .to-right {
	top: 10px;
	left: 0;
	width: 20px;
	height: 1px;
	background-color: #7f8c8d;
	-moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.space-close-icon .to-left {
	top: 10px;
	left: 0;
	width: 20px;
	height: 1px;
	background-color: #7f8c8d;
	-moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
blockquote,
blockquote.wp-block-quote {
	padding: 2em 45px 0;
	margin: 1.45em 0 2.9em;
	position: relative;
	text-align: center;
}
blockquote:before,
blockquote.wp-block-quote:before {
	content: "\f10d";
	font-family: 'Font Awesome 5 Free' !important;
    position: absolute;
    padding: 0 0.85em;
    color: #ecf0f1;
    font-size: 1.777em;
    top: 0;
    left: 0;
    right: 0;
}
blockquote,
blockquote.wp-block-quote {
	font-family: 'Roboto', sans-serif;
	color: #151515;
	font-size: 1.777em;
	line-height: 1.2em !important;
	font-weight: 900;
}
blockquote p,
blockquote.wp-block-quote p {
	padding-bottom: 0 !important;
	line-height: 1.2em !important;
}
blockquote cite,
blockquote.wp-block-quote cite {
	color: #7f8c8d;
	display: block;
    font-size: 16px;
	line-height: 1.45em;
    padding: 1em 0 0;
    font-weight: 400;
}
.wp-block-embed__wrapper {
    position: initial !important;
}
.space-desktop-view {
	display: block;
}
.space-desktop-view-1 {
	display: block;
}
.space-desktop-view-2 {
	display: block;
}
.space-desktop-view-4 {
	display: block;
}
.space-mobile-view {
	display: none;
}
.space-mobile-view-1 {
	display: none;
}
.space-mobile-view-2 {
	display: none;
}
.space-mobile-view-4-1 {
	display: none;
}
.space-mobile-view-4-2 {
	display: none;
}

/* Common Items End */

/* Header #1 Style Start */

.space-header-height {
	min-height: 80px;
}
.space-header-height.enable-top-bar {
	min-height: 108px;
}
.space-header-wrap {
	width: 100%;
	background-color: #fff;
	z-index: 20;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}
.space-header-wrap.fixed {
	top: 0;
	left: 0;
    right: 0;
	position: fixed;
}
.admin-bar .space-header-wrap.fixed {
	top: 32px;
}
.space-header-top {
	overflow: hidden;
	width: 100%;
	min-height: 29px;
	background-color: #f5f6fa;
}
.space-header-top-menu ul {
	padding-left: 15px;
}
.space-header-top-menu ul li {
	margin-right: 20px;
	float: left;
}
.space-header-top-menu ul li a {
	color: #7f8c8d;
	font-size: 0.75em;
	line-height: 29px;
	font-weight: 400;
	text-decoration: none;
}
.space-header-top-menu ul li a:hover {
	text-decoration: none;
	color: #151515;
}
.space-header-top-soc a {
	display: inline-block;
	margin-right: 15px;
	color: #7f8c8d;
	font-size: 0.75em;
	line-height: 29px;
	text-decoration: none;
}
.space-header-top-soc a:last-child {
	margin-right: 15px;
}
.space-header-top-soc a:hover {
	text-decoration: none;
	color: #151515;
}
.space-header-wrap.fixed .space-header-top {
	display: none;
}
.space-header {
	width: 100%;
	min-height: 80px;
}
.space-header-logo-ins {
	margin: 5px 15px 0;
	position: relative;
}
.space-header-logo-ins:after {
	position: absolute;
	content: '';
	width: 1px;
	height: 20px;
	right: 0;
	top: 25px;
	background-color: #e9edf0;
}
.space-header-logo a {
	padding-top: 15px;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #2d3436;
	line-height: 0;
}
.space-header-logo a.text-logo {
	font-size: 1.333em;
	line-height: 1em;
	text-transform: uppercase;
}
.space-header-logo span {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1em;
	color: #7f8c8d;
}
.space-header-menu ul.main-menu {
	padding-right: 55px;
	line-height: 100%;
}
.space-header-menu ul.main-menu li {
	float: left;
	position: relative;
	padding: 0;
	margin: 0;
	color: #2d3436;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1em;
	font-weight: 400;
}
.space-header-menu ul.main-menu li:last-child {
	margin-right: 0;
}
.space-header-menu ul.main-menu li a {
	font-family: 'Roboto', sans-serif;
	color: #151515;
	text-decoration: none;
	font-weight: 400;
	padding: 31px 16px;
	border-bottom: 2px solid transparent;
	display: block;
}
.space-header-menu ul.main-menu li a:hover,
.space-header-menu ul.main-menu li:hover a {
	color: #be2edd;
	border-bottom: 2px solid #be2edd;
}
.space-header-menu ul.main-menu li.menu-item-has-children a:after {
	content: "\f0dd";
	font-family: 'Font Awesome 5 Free' !important;
    position: absolute;
    font-weight: 700;
    font-size: 10px;
    bottom: 18px;
    text-align: center;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.space-header-menu ul.main-menu li ul.sub-menu {
	display: block !important;
    background-color: #fff;
    padding: 15px 0;
    position: absolute;
    top: 100px;
    left: -15px;
    width: 220px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
	opacity: 0;
	border-radius: 5px;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.space-header-menu ul.main-menu li:hover ul.sub-menu {
	top: 80px;
	opacity: 1;
	visibility: visible;
}
.space-header-menu ul.main-menu li ul.sub-menu li {
	display: block;
	padding: 6px 30px;
    float: left;
    position: relative;
    line-height: 1.2em;
    width: 100%;
}
.space-header-menu ul.main-menu li ul.sub-menu li a {
	display: inline-block;
	padding: 0;
	color: #34495e;
	text-decoration: none;
	font-weight: 400;
	border-bottom: 1px solid transparent;
}
.space-header-menu ul.main-menu li ul.sub-menu li a:hover {
	border-bottom: 1px solid transparent;
	color: #b2bec3;
	text-decoration: none;
}
.space-header-menu ul.main-menu li.menu-item-has-children ul.sub-menu li a:after {
	display:none;
}
.space-header-menu ul.main-menu li ul.sub-menu li.menu-item-has-children ul {
    position: absolute;
    top: 15px;
    left: 220px;
    z-index: 10;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.space-header-menu ul.main-menu li ul.sub-menu li.menu-item-has-children:hover ul {
	top: -15px;
	opacity: 1;
	visibility: visible;
}
.space-header-menu ul.main-menu li ul.sub-menu li.menu-item-has-children:after {
	content: "\f0da";
	font-family: 'Font Awesome 5 Free' !important;
	font-weight: 900;
    position: absolute;
    font-size: 10px;
    top: 7px;
    right: 15px;
}

/* Header #1 Style End */

/* Header #2 Style Start */

.space-header-2-height {
	min-height: 158px;
}
.space-header-2-wrap {
	width: 100%;
	min-height: 68px;
	background-color: #fff;
	z-index: 20;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}
.space-header-2-top {
	min-height: 90px;
	width: 100%;
}
.space-header-2-wrap.fixed {
	top: 0;
    left: 0;
    right: 0;
}
.space-header-2-wrap.fixed .space-header-2-top {
	display: none;
}
.admin-bar .space-header-2-wrap.fixed {
	top: 32px;
}
.space-header-2-top-ins {
	max-width: 1170px;
	min-height: 90px;
	border-bottom: 1px solid #dfe6e9;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 
}
.space-header-2-top-soc {
	display: inline-block;
	order: 1;
}
.space-header-2-top-soc-ins {
	padding: 30px 0 25px;
}
.space-header-2-top-soc a {
	display: inline-block;
	border: 1px solid #95a5a6;
	width: 30px;
	height: 30px;
	color: #95a5a6;
	font-weight: 400;
	border-radius: 50%;
	font-size: 0.75em;
	line-height: 29px;
	text-align: center;
	margin-right: 10px;
	background-color: transparent;
}
.space-header-2-top-soc a:hover {
	color: #be2edd;
	border: 1px solid #be2edd;
}
.space-header-2-top-soc a:last-child {
	margin-right: 0;
}
.space-header-2-top-logo {
	display: inline-block;
	order: 2;
}
.space-header-2-top-logo-ins {
	padding-top: 25px;
}
.space-header-2-top-logo a {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #151515;
	line-height: 0;
}
.space-header-2-top-logo a.text-logo {
	font-size: 1.333em;
	line-height: 1em;
	text-transform: uppercase;
}
.space-header-2-top-logo span {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1em;
	color: #7f8c8d;
}
.space-header-2-top-search {
	display: inline-block;
	order: 3;
}
.space-header-2-nav {
	width: 100%;
	min-height: 68px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 
}
.space-header-2-wrap.fixed .space-header-2-nav {
	top: 0;
	left: 0;
    right: 0;
	position: fixed;
}
.admin-bar .space-header-2-wrap.fixed .space-header-2-nav {
	top: 32px;
}
.space-header-2-height .space-header-2-wrap.fixed .space-header-2-nav {
	background-color: #fff;
}
.space-header-2-nav-ins {
	max-width: 1170px;
}
.space-header-2-nav ul.main-menu {
	line-height: 100%;
}
.space-header-2-nav ul.main-menu li {
	float: left;
	position: relative;
	padding: 0;
	margin: 0;
	color: #151515;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1em;
	font-weight: 400;
}
.space-header-2-nav ul.main-menu li:last-child {
	margin-right: 0;
}
.space-header-2-nav ul.main-menu li a {
	font-family: 'Roboto', sans-serif;
	color: #151515;
	text-decoration: none;
	font-weight: 400;
	padding: 25px 16px;
	border-bottom: 2px solid transparent;
	display: block;
}
.space-header-2-nav ul.main-menu li a:hover,
.space-header-2-nav ul.main-menu li:hover a {
	color: #be2edd;
	border-bottom: 2px solid #be2edd;
}
.space-header-2-nav ul.main-menu li.menu-item-has-children a:after {
	content: "\f0dd";
	font-family: 'Font Awesome 5 Free' !important;
    position: absolute;
    font-weight: 700;
    font-size: 10px;
    bottom: 15px;
    text-align: center;
    right: 0;
    left: 0;
    margin: 0 auto;
}
.space-header-2-nav ul.main-menu li ul.sub-menu {
	display: block !important;
    background-color: #fff;
    padding: 15px 0;
    position: absolute;
    top: 90px;
    left: -15px;
    width: 220px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
	opacity: 0;
	border-radius: 5px;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.space-header-2-nav ul.main-menu li:hover ul.sub-menu {
	top: 68px;
	opacity: 1;
	visibility: visible;
}
.space-header-2-nav ul.main-menu li ul.sub-menu li {
	display: block;
	padding: 6px 30px;
    float: left;
    position: relative;
    line-height: 1.2em;
    width: 100%;
}
.space-header-2-nav ul.main-menu li ul.sub-menu li a {
	display: inline-block;
	padding: 0;
	color: #34495e;
	text-decoration: none;
	font-weight: 400;
	border-bottom: 1px solid transparent;
}
.space-header-2-nav ul.main-menu li ul.sub-menu li a:hover {
	border-bottom: 1px solid transparent;
	color: #b2bec3;
	text-decoration: none;
}
.space-header-2-nav ul.main-menu li.menu-item-has-children ul.sub-menu li a:after {
	display:none;
}
.space-header-2-nav ul.main-menu li ul.sub-menu li.menu-item-has-children ul {
    position: absolute;
    top: 15px;
    left: 220px;
    z-index: 10;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.space-header-2-nav ul.main-menu li ul.sub-menu li.menu-item-has-children:hover ul {
	top: -15px;
	opacity: 1;
	visibility: visible;
}
.space-header-2-nav ul.main-menu li ul.sub-menu li.menu-item-has-children:after {
	content: "\f0da";
	font-family: 'Font Awesome 5 Free' !important;
	font-weight: 900;
    position: absolute;
    font-size: 10px;
    top: 7px;
    right: 15px;
}

/* Header #2 Style End */

/* Menu Item Labels Start */

ul.main-menu > li.new > a:before {
	content: "New";
	font-weight: 700;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    background-color: #4cd137;
    display: inline-block;
    top: 14px;
    right: 1px;
    padding: 2px 7px;
    border-radius: 8px;
}
.space-header-2-nav ul.main-menu > li.new > a:before {
	top: 8px;
}
ul.main-menu > li.best > a:before {
	content: "Best";
	font-weight: 700;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #151515;
    background-color: #f0ff00;
    display: inline-block;
    top: 14px;
    right: 1px;
    padding: 2px 7px;
    border-radius: 8px;
}
.space-header-2-nav ul.main-menu > li.best > a:before {
	top: 8px;
}
ul.main-menu > li.hot > a:before {
	content: "Hot";
	font-weight: 700;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #a33632;
    background-color: #ff7979;
    display: inline-block;
    top: 14px;
    right: 1px;
    padding: 2px 7px;
    border-radius: 8px;
}
.space-header-2-nav ul.main-menu > li.hot > a:before {
	top: 8px;
}
ul.main-menu > li.top > a:before {
	content: "Top";
	font-weight: 700;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    background-color: #f22613;
    display: inline-block;
    top: 14px;
    right: 1px;
    padding: 2px 7px;
    border-radius: 8px;
}
.space-header-2-nav ul.main-menu > li.top > a:before {
	top: 8px;
}
ul.main-menu > li.fair > a:before {
	content: "Fair";
	font-weight: 700;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    background-color: #8c14fc;
    display: inline-block;
    top: 14px;
    right: 1px;
    padding: 2px 7px;
    border-radius: 8px;
}
.space-header-2-nav ul.main-menu > li.fair > a:before {
	top: 8px;
}

/* Menu Item Labels End */

/* Search Block Start */

.space-header-search {
	top: 30px;
    bottom: 0;
    right: 15px;
    margin: 0;
    color: #151515;
    font-size: 1.333em;
    line-height: 1em;
    height: 1em;
    cursor: pointer;
}
.space-header-2-top-search .space-header-search {
	top: 35px;
    right: 0;
    color: #95a5a6;
}
.desktop-search-close-button .to-right,
.desktop-search-close-button .to-left {
	background-color: #7f8c8d;
}
.space-header-search-block {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	background-color: #f5f6fa;
	opacity: 0;
	visibility: hidden;
	z-index: 100000;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.space-header-search-block.active {
	opacity: 1;
	visibility: visible;
}
.space-header-search-block-ins {
	max-width: 1170px;
	height: 100px;
	margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.desktop-search-close-button {
	top: 20px;
	right: 45px;
}
.space-header-search-block input[type="search"] {
	width: 100%;
	float: none;
	height: auto;
	background: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3.157em;
    line-height: 1.2em;
    color: #2d3436;
    border: 0;
    border-bottom: 1px solid #e9edf0;
    padding: 20px 30px;
	border-radius: 0;
}
.search-results .space-single-aces-breadcrumbs {
	padding: 0;
}
.search-results .space-single-aces-breadcrumbs .space-breadcrumbs {
    margin-left: 0;
    margin-right: 0;
}

/* Search Block End */

/* Mobile Menu Start */

.space-mobile-menu-icon {
	width: 24px;
	top: 20px;
	right: 0;
	cursor: pointer;
	overflow: hidden;
	display: none;
}
.space-mobile-menu-icon div:nth-child(1) {
	width: 24px;
	height: 4px;
	border-radius: 2px;
	background-color: #2d3436;
	margin-bottom: 4px;
}
.space-mobile-menu-icon div:nth-child(2) {
	width: 24px;
	height: 4px;
	border-radius: 2px;
	background-color: #2d3436;
	margin-bottom: 4px;
}
.space-mobile-menu-icon div:nth-child(3) {
	width: 24px;
	height: 4px;
	border-radius: 2px;
	background-color: #2d3436;
}
.space-header-2-top-soc .space-mobile-menu-icon {
	width: 21px;
}
.space-header-2-top-soc .space-mobile-menu-icon div:nth-child(1) {
	width: 21px;
	border-radius: 3px;
}
.space-header-2-top-soc .space-mobile-menu-icon div:nth-child(2) {
	width: 11px;
	border-radius: 3px;
}
.space-header-2-top-soc .space-mobile-menu-icon div:nth-child(3) {
	width: 21px;
	border-radius: 3px;
}
.space-mobile-menu {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(45, 52, 54, 0.95);
	z-index: 100000;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	width: 100%;
	display: block;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.space-mobile-menu.active {
	opacity: 1;
	visibility: visible;
}
.space-mobile-menu-block {
	overflow-y: auto;
	width: 100%;
	max-width: 320px;
	display: block;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.space-mobile-menu-block-ins {
	padding: 45px 30px;
}
.space-mobile-menu-header {
	overflow: hidden;
	margin-bottom: 45px;
}
.space-mobile-menu-header a {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	line-height: 0;
	color: #2d3436;
}
.space-mobile-menu-header a.text-logo {
	text-transform: uppercase;
	font-size: 1.333em;
	line-height: 1em;
}
.space-mobile-menu-header span {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #7f8c8d;
}
.space-mobile-menu-close-button {
	top: 20px;
    right: 20px;
}
.space-mobile-menu-list {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
}
.space-mobile-menu-list ul {
	width: 100%;
	position: relative;
}
.space-mobile-menu-list ul li {
	width: 100%;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1em;
	line-height: 1em;
	color: #2d3436;
	text-align: left;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	cursor: pointer;
}
.space-mobile-menu-list ul li ul li:first-child {
	margin-top: 0;
}
.space-mobile-menu-list ul li a {
	position: relative;
	display: inline-block;
	padding: 10px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1em;
	line-height: 1em;
	color: #2d3436;
}
.space-mobile-menu-list > ul > li.new:before {
	content: "New";
	font-weight: 700;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    background-color: #4cd137;
    display: inline-block;
    top: 11px;
    right: 25px;
    padding: 2px 7px;
    border-radius: 8px;
}
.space-mobile-menu-list > ul > li.best:before {
	content: "Best";
	font-weight: 700;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #151515;
    background-color: #f0ff00;
    display: inline-block;
    top: 11px;
    right: 25px;
    padding: 2px 7px;
    border-radius: 8px;
}
.space-mobile-menu-list > ul > li.hot:before {
	content: "Hot";
	font-weight: 700;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #a33632;
    background-color: #ff7979;
    display: inline-block;
    top: 11px;
    right: 25px;
    padding: 2px 7px;
    border-radius: 8px;
}
.space-mobile-menu-list > ul > li.top:before {
	content: "Top";
	font-weight: 700;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    background-color: #f22613;
    display: inline-block;
    top: 11px;
    right: 25px;
    padding: 2px 7px;
    border-radius: 8px;
}
.space-mobile-menu-list > ul > li.fair:before {
	content: "Fair";
	font-weight: 700;
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    background-color: #8c14fc;
    display: inline-block;
    top: 11px;
    right: 25px;
    padding: 2px 7px;
    border-radius: 8px;
}
.space-mobile-menu-list ul li.menu-item-has-children:after {
	content: "\f0dd";
	font-family: 'Font Awesome 5 Free' !important;
    position: absolute;
    font-size: 15px;
    top: 7px;
    right: 0;
    margin: 0 auto;
}
.space-mobile-menu-list ul li.menu-item-has-children.space-up:after {
	content: "\f0de";
	font-family: 'Font Awesome 5 Free' !important;
    position: absolute;
    font-size: 15px;
    top: 12px;
    right: 0;
}
.space-mobile-menu-list ul li ul.sub-menu {
	display: none;
	padding: 0 0 0 15px;
}
.space-mobile-menu-copy {
	margin-top: 60px;
	padding: 30px 0;
	border-top: 1px solid rgba(0,0,0,0.1);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #7f8c8d;
}
.space-mobile-menu-copy a {
	color: #7f8c8d;
}

/* Mobile Menu End */

.homepage-block:first-child {
	margin-top: 45px;
}

/* #1 Widget Start */

.space-news-1 {
	overflow: hidden;
	background-color: #f1f3f4;
	margin-bottom: 60px;
}
.space-news-1.homepage-block {
	margin-top: 0;
}
.space-news-1-ins {
	padding-top: 45px;
	padding-bottom: 30px;
}
.space-news-1 .space-block-title,
.space-posts-shortcode-1 .space-block-title {
	padding-bottom: 15px;
}
.space-news-1-items {
	overflow: hidden;
	margin-top: 15px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-wrap: wrap;
}
.space-news-1-item {
	display: inline-block;
	overflow: hidden;
}
.space-news-1-item img {
	border-radius: 5px;
}
.space-news-1-item-ins {
	margin: 0 15px 30px;
	overflow: hidden;
}
.space-news-1-item-img {
	width: 115px;
	height: 100px;
	margin-right: -115px;
	line-height: 0;
	z-index: 1;
}
.space-news-1-item-title-box {
	width: 100%;
}
.space-news-1-item-title-box-ins {
	margin-left: 115px;
}
.space-news-1-item-title {
	margin-bottom: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.2em;
	color: #151515;
}
.space-news-1-item-title a {
	color: #151515 !important;
	text-decoration: none !important;
	border-bottom: 1px solid transparent;
}
.space-news-1-item-title a:hover {
	color: #b2bec3 !important;
}
.space-news-1-item-meta {
	font-weight: 400;
    font-size: 0.75em;
    line-height: 1.2em;
    color: #7f8c8d;
}
.space-news-1-item-meta span:first-child {
	display: inline-block;
    margin-right: 20px;
}
.space-news-1-item-meta span i {
	padding-right: 5px;
}

/* #1 Widget End */

/* #2 Widget Start */

.space-news-2 {
	overflow: hidden;
}
.space-news-2 img {
	border-radius: 5px;
}
.space-posts-shortcode-2 {
	margin-bottom: 30px !important;
}
.space-news-2-items {
	overflow: hidden;
}
.space-news-2-item-big {
	overflow: hidden;
	margin: 0 15px;
}
.space-news-2-item-big-ins {
	overflow: hidden;
	line-height: 0;
	padding-bottom: 30px;
    background-color: #000;
    border-radius: 6px;
}
.space-news-2-item-big-ins .space-post-format {
	top: 30px;
	right: 30px;
}
.space-news-2-item-top {
	margin-top: 20px;
	height: 1.45em;
}
.space-news-2-item-top-left {
	left: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #dfe6e9;
}
.space-news-2-item-top-left span i {
	padding-right: 5px;
}
.space-news-2-item-top-right {
	right: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #dfe6e9;
}
.space-news-2-item-top-right span {
	display: inline-block;
	margin-left: 15px;
}
.space-news-2-item-top-right span i {
	padding-right: 5px;
}
.space-news-2-item-big-box {
	bottom: 30px;
	left: 0;
	right: 0;
	background: #000;
	background: linear-gradient(transparent, #000);
	border-radius: 0 0 3px 3px;
    padding: 30px 30px 0;
}
.space-news-2-item-big-box-category {
    margin-bottom: 16px;
}
.space-news-2-item-big-box-category span {
	display: inline-block;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.45em;
    color: #fff;
    padding: 4px 15px;
    border-radius: 3px;
    margin-bottom: 4px;
    background-color: #ff2453;
}
.space-news-2-item-big-box-title {
	font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2.369em;
    line-height: 1.1em;
    color: #fff;
}
.space-news-2-item-big-box-excerpt {
	font-weight: 300;
    font-size: 1em;
    line-height: 1.65em;
    color: #dfe6e9;
    margin-top: 20px;
}
.space-news-2-small-items {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-wrap: wrap;
}
.space-news-2-small-item {
	display: inline-block;
}
.space-news-2-small-item-ins .space-overlay {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0);
}
.space-news-2-small-item-ins:hover .space-overlay {
	background: rgba(0, 0, 0, 0.3);
}
.space-news-2-small-item-img-ins {
	line-height: 0;
}
.space-news-2-small-item-img-category {
	bottom: -5px;
    left: 0;
    text-align: center;
}
.space-news-2-small-item-img-category a {
	display: inline-block;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.45em;
    color: #fff !important;
    text-decoration: none !important;
    padding: 4px 15px;
    border-radius: 0 5px 0 5px;
    margin-bottom: 5px;
    background-color: #ff2453;
}
.space-news-2-small-item-img-category a:hover {
	background-color: #57606f;
}
.space-news-2-small-item-title-box {
	margin-top: 15px;
	padding-bottom: 5px;
}
.space-news-2-small-item-title {
	line-height: 0;
}
.space-news-2-small-item-title a {
	font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.333em;
    line-height: 1.1em;
    color: #151515 !important;
    text-decoration: none !important;
}
.space-news-2-small-item-title a:hover {
	color: #b2bec3 !important;
}
.space-news-2-small-item-meta {
	padding-top: 10px;
	height: 1.45em;
}
.space-news-2-small-item-meta-left {
	left: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #7f8c8d;
}
.space-news-2-small-item-meta-left span i {
	padding-right: 5px;
}
.space-news-2-small-item-meta-right {
	right: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #7f8c8d;
}
.space-news-2-small-item-meta-right span {
	display: inline-block;
	margin-left: 15px;
}
.space-news-2-small-item-meta-right span i {
	padding-right: 5px;
}
.space-news-2-small-item:nth-child(3) .space-news-2-small-item-ins,
.space-news-2-small-item:nth-child(4) .space-news-2-small-item-ins {
	margin-bottom: 0;
}

/* #2 Widget End */

/* #3 Widget Start */

.space-news-3 {
	overflow: hidden;
}
.space-news-3-ins {
	padding-bottom: 15px;
}
.space-news-3-items {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-wrap: wrap;
}
.space-news-3-item {
	display: inline-block;
}
.space-news-3-item img {
	border-radius: 5px;
}
.space-news-3-item-ins {
	margin-bottom: 45px;
}
.space-news-3-item-ins .space-overlay {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0);
}
.space-news-3-item-ins:hover .space-overlay {
	background: rgba(0, 0, 0, 0.3);
}
.space-news-3-item-img-ins .space-post-format {
	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.space-news-3-item-img-ins {
	line-height: 0;
}
.space-news-3-item-img-category {
	bottom: -5px;
	left: 0;
}
.space-news-3-item-img-category a {
	display: inline-block;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #fff !important;
	text-decoration: none !important;
	padding: 4px 15px;
	border-radius: 0 5px 0 5px;
	margin-bottom: 5px;
	background-color: #ff2453;
}
.space-news-3-item-img-category a:hover {
	background-color: #57606f;
}
.space-news-3-item-title-box {
	margin-top: 25px;
}
.space-news-3-item-title {
	margin-bottom: 10px;
	line-height: 0;
}
.space-news-3-item-title a {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1.333em;
	line-height: 1.25em;
	color: #151515 !important;
	text-decoration: none !important;
}
.space-news-3-item-title a:hover {
	color: #b2bec3 !important;
}
.space-news-3-item-meta {
	margin: 15px 0 0;
    height: 15px;
    overflow: hidden;
}
.space-news-3-item-meta-left {
	left: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #7f8c8d;
}
.space-news-3-item-meta-left span i {
	padding-right: 5px;
}
.space-news-3-item-meta-right {
	right: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #7f8c8d;
}
.space-news-3-item-meta-right span {
	display: inline-block;
	margin-left: 15px;
}
.space-news-3-item-meta-right span i {
	padding-right: 5px;
}
.space-news-3-item-excerpt {
	font-weight: 400;
    font-size: 1em;
    line-height: 1.45em;
    color: #7f8c8d;
    margin-top: 20px;
}

/* #3 Widget End */

/* #4 Widget Start */

.space-news-4 {
	overflow: hidden;
	background-color: #111111;
	margin-bottom: 60px;
}
.space-news-4.homepage-block {
	margin-top: 0;
}
.space-news-4-ins {
	padding: 60px 0 30px;
}
.space-news-4 .space-block-title {
	color: #fff;
}
.space-news-4-items {
	overflow: hidden;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-wrap: wrap;
}
.space-news-4-item {
	display: inline-block;
	overflow: hidden;
}
.space-news-4-item-img-ins {
	line-height: 0;
}
.space-news-4-item.small-news-block img {
	border-radius: 5px 5px 0 0 !important;
}
.space-news-4-item.small-news-block .space-news-4-item-ins .space-overlay {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0);
}
.space-news-4-item.small-news-block .space-news-4-item-ins:hover .space-overlay {
	background: rgba(0, 0, 0, 0.3);
}
.space-news-4-item.small-news-block .space-news-4-item-img-ins .space-post-format {
	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.space-news-4-item.small-news-block .space-news-4-item-img-category {
	bottom: -18px;
	left: 0;
	right: 0;
	z-index: 1;
}
.space-news-4-item.small-news-block .space-news-4-item-img-category a {
	display: inline-block;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #fff !important;
	text-decoration: none !important;
	padding: 4px 15px;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: #ff2453;
}
.space-news-4-item.small-news-block .space-news-4-item-img-category a:hover {
	background-color: #57606f;
}
.space-news-4-item.small-news-block .space-news-4-item-title-box {
	background-color: #fff;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    padding: 25px 30px 30px;
}
.space-posts-shortcode-4 .space-news-4-item.small-news-block .space-news-4-item-title-box {
	background-color: #f1f3f4;
}
.space-news-4-item.small-news-block .space-news-4-item-title {
	margin-bottom: 10px;
	line-height: 0;
}
.space-news-4-item.small-news-block .space-news-4-item-title a {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1.333em;
	line-height: 1.25em;
	color: #151515 !important;
	text-decoration: none !important;
}
.space-news-4-item.small-news-block .space-news-4-item-title a:hover {
	color: #b2bec3 !important;
}
.space-news-4-item.small-news-block .space-news-4-item-meta {
	top: -25px;
    left: 30px;
    right: 30px;
    margin: 0;
    height: 15px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.space-news-4-item.small-news-block .space-news-4-item-ins:hover .space-news-4-item-meta {
	top: 25px;
}
.space-news-4-item.small-news-block .space-news-4-item-meta-left {
	left: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #dfe6e9;
}
.space-news-4-item.small-news-block .space-news-4-item-meta-left span i {
	padding-right: 5px;
}
.space-news-4-item.small-news-block .space-news-4-item-meta-right {
	right: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #dfe6e9;
}
.space-news-4-item.small-news-block .space-news-4-item-meta-right span {
	display: inline-block;
	margin-left: 15px;
}
.space-news-4-item.small-news-block .space-news-4-item-meta-right span i {
	padding-right: 5px;
}
.space-news-4-item.small-news-block .space-news-4-item-excerpt {
	font-weight: 400;
    font-size: 0.85em;
    line-height: 1.65em;
    color: #7f8c8d;
    margin-top: 12px;
}

/* #4 Widget End */

/* #5 Widget Start */

.space-news-5-items {
	overflow: hidden;
}
.space-news-5-item {
	overflow: hidden;
	margin-bottom: 30px;
}
.space-news-5-item:last-child {
	margin-bottom: 0;
}
.space-news-5-item img {
	border-radius: 5px;
}
.space-news-5-item-ins {
	margin: 0 15px;
}
.space-news-5-item-img {
	width: 115px;
	height: 100px;
	margin-right: -115px;
	line-height: 0;
	z-index: 1;
}
.space-news-5-item-title-box {
	width: 100%;
}
.space-news-5-item-title-box-ins {
	margin-left: 115px;
}
.space-news-5-item-meta {
	font-weight: 400;
    font-size: 0.75em;
    line-height: 1.2em;
    color: #7f8c8d;
    margin-top: 5px;
}
.space-news-5-item-meta i {
	padding-right: 5px;
}
.space-news-5-item-title {
	font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.2em;
    color: #151515;
}
.space-news-5-item-title a {
	color: #151515;
}
.space-news-5-item-title a:hover {
	color: #b2bec3;
}

/* #5 Widget End */

/* #6 Widget Start */

.space-news-6-items {
	overflow: hidden;
}
.space-news-6-items-ins {
	padding-bottom: 30px;
	overflow: hidden;
}
.space-news-6-items-ins-wrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-wrap: wrap;
}
.space-news-6-item {
	display: inline-block;
	overflow: hidden;
}
.space-news-6-item img {
	border-radius: 5px;
}
.space-news-6-item .space-overlay {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.3);
}
.space-news-6-item ul {
	margin-bottom: 0 !important;
    margin-left: 0 !important;
}
.space-news-6-item ul li {
    list-style: none !important;
}
.space-news-6-item-ins:hover .space-overlay {
	background: rgba(0, 0, 0, 0.5);
}
.space-news-6-item .space-post-format {
	background-color: transparent;
	top: 20px;
	right: 20px;
}
.space-news-6-item-top {
	top: 30px;
	left: 30px;
	right: 30px;
}
.space-news-6-item-top-category {
	margin-bottom: 16px;
}
.space-news-6-item-top-category span {
	display: inline-block;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.45em;
    color: #fff;
    padding: 4px 15px;
    border-radius: 3px;
    margin-bottom: 4px;
    background-color: #ff2453;
}
.space-news-6-item-top-title {
	display: block;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 2.369em;
	line-height: 1.1em;
	color: #fff;
}
.space-news-6-item.third-news .space-news-6-item-top-title {
	font-size: 1.777em;
}
.space-news-6-item-top-excerpt {
	font-weight: 300;
	font-size: 1em;
	line-height: 1.65em;
	color: #dfe6e9;
	margin-top: -10px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.space-news-6-item-link-wrap:hover .space-news-6-item-top-excerpt {
	margin-top: 20px;
	opacity: 1;
	visibility: visible;
}
.space-news-6-item-link-wrap {
	line-height: 0;
}
.space-news-6-item-bottom {
	bottom: 30px;
	left: 30px;
	right: 30px;
}
.space-news-6-item-bottom-left {
	bottom: 0;
	left: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #fff;
}
.space-news-6-item-bottom-left span i {
	padding-right: 5px;
}
.space-news-6-item-bottom-right {
	bottom: 0;
	right: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #fff;
}
.space-news-6-item-bottom-right span {
	display: inline-block;
	margin-left: 15px;
}
.space-news-6-item-bottom-right span i {
	padding-right: 5px;
}
.space-news-6-item-ins ul li {
	font-family: 'Roboto', sans-serif;
    margin-bottom: 14px;
    border-bottom: 1px solid #dfe6e9;
    padding: 0 0 13px !important;
    line-height: 0;
}
.space-news-6-item-ins ul li:last-child {
	margin-bottom: 0 !important;
}
.space-news-6-item-ins ul li:before {
	display: none;
}
.space-news-6-item-ins ul li a {
	font-weight: 900;
    font-size: 1em;
    line-height: 1.25em;
    color: #151515 !important;
    text-decoration: none !important;
}
.space-news-6-item-ins ul li a:hover {
	color: #b2bec3 !important;
}
.space-news-6-item-ins ul li div {
    margin-top: 4px;
}
.space-news-6-item-ins ul li span {
	display: inline-block;
	font-weight: 400;
    font-size: 0.75em;
    line-height: 1.45em;
    color: #7f8c8d;
    margin-right: 15px;
}
.space-news-6-item-ins ul li span i {
	padding-right: 5px;
}

/* #6 Widget End */

/* #7 Widget Start */

.space-news-7 {
	overflow: hidden;
}
.space-news-7-ins {
	padding-bottom: 30px;
}
.space-news-7-items {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-wrap: wrap;
}
.space-news-7-item {
	display: inline-block;
}
.space-news-7-item img {
	border-radius: 5px;
}
.space-news-7-item .space-overlay {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.3);
}
.space-news-7-item-ins:hover .space-overlay {
	background: rgba(0, 0, 0, 0.5);
}
.space-news-7-item-ins {
	margin-bottom: 30px;
	overflow: hidden;
}
.space-news-7-item-img-ins {
	line-height: 0;
}
.space-news-7-item-top-date {
	top: -25px;
	left: 30px;
	font-weight: 400;
    font-size: 0.75em;
    line-height: 1.45em;
    color: #dfe6e9;
    opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.space-news-7-item-ins:hover .space-news-7-item-top-date {
	top: 25px;
	opacity: 1;
	visibility: visible;
}
.space-news-7-item-top-date span i {
    padding-right: 5px;
}
.space-news-7-item-title-box {
	bottom: 25px;
	left: 30px;
	right: 30px;
}
.space-news-7-item-category {
	margin-bottom: 6px;
}
.space-news-7-item-title {
	font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.333em;
    line-height: 1.1em;
    color: #fff;
}
.space-news-7-item-category span {
	display: inline-block;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.45em;
    color: #fff;
    padding: 4px 15px;
    border-radius: 3px;
    margin-bottom: 4px;
    background-color: #ff2453;
}

/* #7 Widget End */

/* #8 Widget Start */

.space-news-8 {
	overflow: hidden;
}
.space-posts-shortcode-8 {
	margin-bottom: 25px !important;
}
.space-news-8-items {
	overflow: hidden;
}
.space-news-8-item {
	display: inline-block;
}
.space-news-8-item img {
	border-radius: 5px;
}
.space-news-8-item .space-overlay {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.3);
}
.space-news-8-item-ins:hover .space-overlay {
	background: rgba(0, 0, 0, 0.5);
}
.space-news-8-item-ins {
	overflow: hidden;
	margin-bottom: 0;
}
.space-news-8-item-img-ins {
	line-height: 0;
}
.space-news-8-item-img-ins .space-post-format {
	top: 30px;
	right: 30px;
}
.space-news-8-item-title {
	top: 0;
	bottom: 0;
	left: 90px;
	right: 180px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
	display: flex;
    align-items: center;
}
.space-news-8-item-title-category {
	margin-bottom: 16px;
}
.space-news-8-item-title-category span {
	display: inline-block;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.45em;
    color: #fff;
    padding: 4px 15px;
    border-radius: 3px;
    margin-bottom: 4px;
    background-color: #ff2453;
}
.space-news-8-item-title-box {
	font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 3.157em;
    line-height: 1.1em;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.space-news-8-item-title-meta {
	margin-top: 16px;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #dfe6e9;
}
.space-news-8-item-title-meta span {
	display: inline-block;
	padding-right: 20px;
}
.space-news-8-item-title-meta span:last-child {
	padding-right: 0;
}
.space-news-8-item-title-meta span i {
	padding-right: 5px;
}
.space-news-8-items .owl-nav {
	position: absolute;
	bottom: 30px;
	right: 45px;
	width: 100px;
	height: 46px;
	border-radius: 23px;
	color: #fff;
	font-size: 1.333em;
	line-height: 46px;
	background-color: rgba(0, 0, 0, 0.5);
}
.space-news-8-items .owl-nav button {
	width: 50px;
	height: 46px;
}

/* #8 Widget End */

/* #9 Widget Start */

.space-news-9 {
	overflow: hidden;
}
.space-posts-shortcode-9 {
	margin-bottom: 25px !important;
}
.space-news-9-items {
	overflow: hidden;
}
.space-news-9-item {
	display: inline-block;
}
.space-news-9-item img {
	border-radius: 0 5px 5px 0;
}
.space-news-9-item .space-overlay {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.3);
}
.space-news-9-item-ins:hover .space-overlay {
	background: rgba(0, 0, 0, 0.5);
}
.space-news-9-item-ins {
	overflow: hidden;
	margin-bottom: 0;
}
.space-news-9-item-background {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-wrap: wrap;
    background-color: #f1f3f4;
    border-radius: 5px;
}
.space-news-9-item-info {
	display: inline-block;
	order: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
    flex: 1;
}
.space-news-9-item-info-wrap {
	padding: 45px 60px;
}
.space-news-9-item-info-category {
	margin-bottom: 16px;
}
.space-news-9-item-info-category span {
	display: inline-block;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.45em;
    color: #fff;
    padding: 4px 15px;
    border-radius: 3px;
    margin-bottom: 4px;
    background-color: #ff2453;
}
.space-news-9-item-title-box {
	font-family: 'Roboto', sans-serif;
    line-height: 0;
    color: #111111;
}
.space-news-9-item-title-box a {
	font-weight: 900;
    font-size: 2.369em;
    line-height: 1.1em;
	color: #111111 !important;
	text-decoration: none !important;
}
.space-news-9-item-title-box a:hover {
	color: #b2bec3 !important;
}
.space-news-9-item-info-meta {
	margin-top: 16px;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #7f8c8d;
}
.space-news-9-item-info-meta span {
	display: inline-block;
	padding-right: 20px;
}
.space-news-9-item-info-meta span:last-child {
	padding-right: 0;
}
.space-news-9-item-info-meta span i {
	padding-right: 5px;
}
.space-news-9-item-info-excerpt {
	margin-top: 16px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.65em;
	color: #7f8c8d;
}
.space-news-9-item-img {
	display: inline-block;
	order: 2;
	flex: 1;
	line-height: 0;
}
.space-news-9-item-background .space-news-9-item-img img {
	border-radius: 0 5px 5px 0 !important;
}
.space-news-9-item-img .space-post-format {
	top: 30px;
	right: 30px;
}
.space-news-9-items .owl-nav {
	position: absolute;
	bottom: 30px;
	right: 45px;
	width: 100px;
	height: 46px;
	border-radius: 23px;
	color: #fff;
	font-size: 1.333em;
	line-height: 46px;
	background-color: rgba(0, 0, 0, 0.5);
}
.space-news-9-items .owl-nav button {
	width: 50px;
	height: 46px;
}

/* #9 Widget End */

/* #10 Widget Start */

.space-news-10 {
	overflow: hidden;
}
.space-news-10-ins {
	padding-bottom: 45px;
}
.space-news-10-items {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-wrap: wrap;
}
.space-news-10-item {
	display: inline-block;
}
.space-news-10-item .space-overlay {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0);
}
.space-news-10-item-ins:hover .space-overlay {
	background: rgba(0, 0, 0, 0.3);
}
.space-news-10-item-image {
	height: 0;
	padding-bottom: 47.368421%;
	background-color: #f1f3f4;
	border-radius: 5px;
}
.space-news-10-item-image img {
	border-radius: 5px;
}
.space-news-10-item-category {
	margin-top: 12px;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.25em;
    color: #7f8c8d;
}
.space-news-10-item-category a {
	color: #ff2453;
	text-decoration: underline;
	display: inline-block;
	margin: 0 2px;
}
.space-news-10-item-category a:hover {
	color: #7f8c8d !important;
}
.space-news-10-item-title {
	margin-top: 8px;
	font-family: 'Roboto', sans-serif;
    line-height: 0;
    color: #151515;
}
.space-news-10-item-title a {
	font-weight: 700;
    font-size: 1.777em;
    line-height: 1.25em;
	color: #151515 !important;
	text-decoration: none !important;
}
.space-news-10-item-title a:hover {
	color: #b2bec3 !important;
}
.space-news-10-item-info {
	margin-top: 15px;
	padding-bottom: 15px;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #7f8c8d;
}
.space-news-10-item-info span {
	display: inline-block;
	padding-right: 20px;
}
.space-news-10-item-info span:last-child {
	padding-right: 0;
}
.space-news-10-item-info span i {
	padding-right: 5px;
}

/* #10 Widget End */

/* #11 Widget Start */

.space-news-11 {
	overflow: hidden;
}
.space-news-11-items {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-wrap: wrap;
}
.space-news-11-item {
	display: inline-block;
}
.space-news-11-item.big {
	order: 2;
}
.space-news-11-item.small:last-child {
	order: 3;
}
.space-news-11-item .space-overlay {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0);
}
.space-news-11-item-ins:hover .space-overlay {
	background: rgba(0, 0, 0, 0.3);
}
.big .space-news-11-item-image {
	height: 0;
	padding-bottom: 75.43859649%;
	background-color: #b2bec3;
	border-radius: 5px;
}
.big .space-news-11-item-image img {
	border-radius: 5px;
}
.big .space-news-11-item-title-box {
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	background: linear-gradient(transparent, #000);
	border-radius: 0 0 5px 5px;
    padding: 30px;
}
.big .space-news-11-item-category {
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.25em;
    color: #dfe6e9;
}
.big .space-news-11-item-category span {
	text-decoration: underline;
	display: inline-block;
	margin-right: 4px;
}
.big .space-news-11-item-title {
	margin-top: 8px;
	font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.777em;
    line-height: 1.15em;
    color: #fff;
}
.big .space-news-11-item-info {
	margin: 15px 0 0;
    height: 15px;
    overflow: hidden;
}
.big .space-news-11-item-info-left {
	left: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #dfe6e9;
}
.big .space-news-11-item-info-left span i {
	padding-right: 5px;
}
.big .space-news-11-item-info-right {
	right: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #dfe6e9;
}
.big .space-news-11-item-info-right span {
	display: inline-block;
	margin-left: 15px;
}
.big .space-news-11-item-info-right span i {
	padding-right: 5px;
}
.small .space-news-11-item-image {
	height: 0;
	padding-bottom: 100%;
	background-color: #f1f3f4;
	border-radius: 5px;
}
.small .space-news-11-item-image img {
	border-radius: 5px;
}
.small .space-news-11-item-category {
	margin-top: 12px;
	font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 1.25em;
    color: #7f8c8d;
}
.small .space-news-11-item-category a {
	color: #ff2453;
	text-decoration: underline;
	display: inline-block;
	margin-right: 4px;
}
.small .space-news-11-item-category a:hover {
	color: #7f8c8d !important;
}
.small .space-news-11-item-title {
	margin-top: 8px;
	font-family: 'Roboto', sans-serif;
    line-height: 0;
    color: #151515;
}
.small .space-news-11-item-title a {
	font-weight: 700;
    font-size: 1.333em;
    line-height: 1.25em;
	color: #151515 !important;
	text-decoration: none !important;
}
.small .space-news-11-item-title a:hover {
	color: #b2bec3 !important;
}
.small .space-news-11-item-info {
	margin: 15px 0 0;
    height: 15px;
    overflow: hidden;
}
.small .space-news-11-item-info-left {
	left: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #7f8c8d;
}
.small .space-news-11-item-info-left span i {
	padding-right: 5px;
}
.small .space-news-11-item-info-right {
	right: 0;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #7f8c8d;
}
.small .space-news-11-item-info-right span {
	display: inline-block;
	margin-left: 5px;
}
.small .space-news-11-item-info-right span i {
	padding-right: 5px;
}

/* #11 Widget End */

/* Title Box Start */

.space-title-box {
	background-color: #f1f3f4;
}
.space-title-box-ins {
	padding-top: 60px;
}
.space-index-page {
	padding: 35px 0;
}
.space-title-box-h1 {
	margin: 0 15px;
}
.space-title-box-h1 h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 3.157em;
	line-height: 1.1em;
	color: #151515;
}
.space-breadcrumbs {
	overflow: hidden;
	margin-top: 5px;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #7f8c8d;
}
.space-breadcrumbs a {
	color: #7f8c8d;
	padding: 0 8px;
}
.space-breadcrumbs > span > span > a {
	padding-left: 0;
}
.space-breadcrumbs a:hover {
	text-decoration: underline;
}
.space-breadcrumbs span.breadcrumb_last {
	padding-left: 8px;
}
.space-title-box.featured-image {
	min-height: 375px;
	background-color: #2d3436;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.space-title-box.featured-image .space-title-box-ins {
	min-height: 315px;
}
.space-title-box.featured-image .space-title-box-h1 {
	bottom: 0;
	left: 0;
}
.space-title-box.featured-image .space-title-box-h1 h1 {
	color: #fff;
}
.space-title-box.featured-image .space-breadcrumbs,
.space-title-box.featured-image .space-breadcrumbs a {
	color: #cecece;
}
.space-title-box.featured-image .space-overlay {
	background: rgba(0,0,0,0.7);
}
.space-title-box-category-wrap {
	max-width: 1200px;
	margin: 0 auto;
}
.space-title-box-category {
	top: -14px;
	margin: 0 15px;
	z-index: 1;
}
.space-title-box-category a {
	display: inline-block;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	color: #fff;
	padding: 5px 20px;
	margin-bottom: 5px;
	border-radius: 3px;
	background-color: #ff2453;
}
.space-title-box-category a:hover {
	background-color: #57606f;
}

/* --- Archive Title Box --- */

.space-archive-title-box {
	background-color: #f1f3f4;
}
.space-archive-title-box-ins {
	padding: 35px 0;
}
.space-archive-title-box-h1 {
	margin: 0 15px;
}
.space-archive-title-box-h1 h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 3.157em;
	line-height: 1.1em;
	color: #151515;
}

/* Title Box End */

/* Archive Section Start */

.space-archive-section {
	/* overflow: hidden; */
}
.space-archive-section-home-ins {
	overflow: hidden;
}
.space-archive-section-ins {
	padding-top: 30px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.space-archive-loop {
	overflow: hidden;
}
.space-archive-loop-item {
	overflow: hidden;
	margin-bottom: 45px;
}
.space-archive-loop-item:last-child {
	margin-bottom: 0;
}
.space-archive-loop-item-img-ins {
	margin: 0 15px;
}
.space-archive-loop-item-img-ins .space-overlay {
	background: rgba(0, 0, 0, 0);
	border-radius: 5px;
}
.space-archive-loop-item-img-ins:hover .space-overlay {
	background: rgba(0, 0, 0, 0.3);
}
.space-archive-loop-item-img-link {
	line-height: 0;
}
.space-archive-loop-item-img-link .space-post-format {
	top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.space-archive-loop-item-img-link img {
	width: 100%;
}
.space-archive-loop-item-img-category {
	top: 26px;
    right: -15px;
    text-align: right;
    line-height: 0;
}
.space-archive-loop-item-img-category a {
	display: inline-block;
	font-weight: 400;
    font-size: 0.75em;
    line-height: 1.45em;
    color: #fff !important;
    text-decoration: none !important;
    padding: 4px 15px;
    border-radius: 3px;
    margin-bottom: 4px;
    background-color: #ff2453;
}
.space-archive-loop-item-img-category a:hover {
	background-color: #57606f !important;
}
.space-archive-loop-item-title-box-ins {
	margin: 30px 15px 0;
}
.space-archive-loop-item-title-box.no-image .space-archive-loop-item-title-box-ins {
	margin: 0 15px 15px;
}
.space-archive-loop-item-title-box.no-image .space-archive-loop-item-img-category {
	margin-right: 15px;
	top: -5px;
	bottom: 0;
	right: auto;
	display: inline-block;
}
.space-archive-loop-item-title-box.no-image .space-archive-loop-item-img-category a {
	font-weight: 700 !important;
	font-size: 0.75em !important;
	line-height: 1.45em !important;
	color: #fff !important;
	border-bottom: 0 !important;
}
.space-archive-loop-item-title {
	margin: 10px 0 15px;
	line-height: 0;
}
.space-archive-loop-item-title a {
	font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.777em;
    line-height: 1.25em;
    color: #151515 !important;
    text-decoration: none !important;
}
.space-archive-loop-item-title a:hover {
	color: #b2bec3 !important;
}
.space-archive-loop-item-excerpt {
	margin-bottom: 30px;
	font-weight: 400;
    font-size: 1em;
    line-height: 1.65em;
    color: #7f8c8d;
}
.space-archive-loop-item-title-box.no-image .space-archive-loop-item-title-box-ins .space-archive-loop-item-excerpt {
	margin-bottom: 15px;
}
.space-archive-loop-item-meta {
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
    color: #7f8c8d;
}
.space-archive-loop-item-meta span {
	display: inline-block;
}
.space-archive-loop-item-meta span:nth-child(1) {
	margin-right: 0;
}
.space-archive-loop-item-meta span:nth-child(2),
.space-archive-loop-item-meta span:nth-child(3) {
	margin-left: 15px;
}
.space-archive-loop-item-meta span.read-more {
	position: relative;
	display: inline-block;
	margin-right: 30px;
}
.space-archive-loop-item-meta span.read-more a {
	font-weight: 700;
	font-size: 16px;
	line-height: 1em;
	color: #151515;
	text-decoration: none;
}
.space-archive-loop-item-meta span.read-more a:hover {
	color: #b2bec3;
}
.space-archive-loop-item-meta i {
	padding-right: 5px;
}
.space-posts-shortcode-5 {
	margin-bottom: 30px !important;
}

/* Archive Section End */

/* Archive Navigation Start */

.space-archive-navigation {
	overflow: hidden;
}
nav.pagination,
nav.comments-pagination,
nav.pagination-post {
	text-align:center;
	padding: 15px 0 0;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.45px;
	color: #7f8c8d;
	overflow: hidden;
}
nav.pagination a,
nav.comments-pagination a,
nav.pagination-post a span.page-number {
	display: inline-block;
	font-weight: 700;
	text-decoration: none;
	width: 45px;
	height: 45px;
	border-radius: 3px;
	text-align: center;
	line-height: 45px;
	color: #fff;
	margin: 0 5px 5px;
	background-color: #ff2453;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
nav.pagination a:hover,
nav.comments-pagination a:hover,
nav.pagination-post a:hover span.page-number {
	background-color: #57606f;
	color: #fff;
	text-decoration: none;
}
nav.pagination span.current,
nav.pagination-post span.page-number,
nav.comments-pagination span.current {
	display: inline-block;
	color: #fff;
	line-height: 45px;
	border-radius: 3px;
	margin: 0 5px 5px;
	width: 45px;
	height: 45px;
	background-color: #57606f;
	text-align:center;
}
.space-categories-list-box {
	padding: 0 15px 10px;
	overflow: hidden;
}
.space-categories-list-box ul li {
	float: left;
	display: inline-block;
	color: #7f8c8d;
	font-size: 0.75em;
	line-height: 1.25em;
	font-weight: 400;
	margin-bottom: 5px;
	margin-right: 5px;
}
.space-categories-list-box ul li.active {
	padding: 6px 20px;
	border-radius: 15px;
	border: 1px solid #d6d7db;
}
.space-categories-list-box ul li a {
	display: inline-block;
	color: #ff2453;
	padding: 6px 20px;
	border-radius: 15px;
	border: 1px solid #ff2453;
}
.space-categories-list-box ul li a:hover {
	color: #7f8c8d;
	border: 1px solid #d6d7db;
}

/* Archive Navigation End */

/* Page Section Start */

.space-content-section.no-sidebar {
	max-width: 900px;
	margin: 0 auto;
}
.space-content-section img {
	border-radius: 5px;
}
.space-page-content img {
	border-radius: 5px !important;
}
.space-page-content.page-template {
	margin-bottom: 30px;
}
.space-page-section {
	display: inline-block;
	/* overflow: hidden; */
}
.space-page-section-ins {
	padding-top: 41px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.page-template-page-without-title .space-page-section-ins {
	padding-top: 0;
}
.space-page-content-wrap {
	margin: 0 15px;
	/* overflow: hidden; */
}
.space-page-content-excerpt {
	margin-top: 30px;
	margin-bottom: 15px;
}
.space-page-content-excerpt.style2 {
	margin-top: 0;
	margin-bottom: 45px;
}
.space-page-content-excerpt p {
	color: #7f8c8d;
	font-size: 1.333em;
	line-height: 1.45em;
	font-weight: 300;
}
.space-page-content-meta {
	overflow: hidden;
	min-height: 50px;
	margin-bottom: 45px;
}
.space-page-content-meta-avatar {
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
}
.space-page-content-meta-avatar img {
	border-radius: 50% !important;
}
.space-page-content-meta-ins {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 65px;
    min-height: 50px;
}
.space-page-content-meta-author {
	width: 100%;
	color: #7f8c8d;
	font-size: 1em;
	line-height: 1.45em;
	font-weight: 400;
	padding: 3px 0 5px;
}
.space-page-content-meta-author a {
	color: #151515;
}
.space-page-content-meta-author a:hover {
	text-decoration: underline;
}
.space-page-content-meta-data {
	width: 100%;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1em;
	color: #7f8c8d;
}
.space-page-content-meta-data span {
	display: inline-block;
	margin-right: 20px;
}
.space-page-content-meta-data i {
	padding-right: 5px;
}
.space-page-content-featured-img {
	margin-bottom: 45px;
}
.space-page-content-featured-img span {
	display: block;
	margin-top: 10px;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
	color: #7f8c8d;
}
.space-page-content-box-wrap {
	border-bottom: 1px solid #dfe6e9;
    padding-bottom: 30px;
	margin: 0 0 15px;
}
.page .space-page-content-box-wrap {
	border-bottom: 0;
    padding-bottom: 0;
	margin: 0;
}
.space-page-content {
	font-weight: 400;
	font-size: 1em;
	line-height: 1.65em;
	color: #2e3246;
	/* overflow: hidden; */
}
.space-page-content a {
	color: #ff2453;
	text-decoration: underline;
}
.space-page-content a:hover {
	color: #be2edd;
}
.space-page-content p {
	padding-bottom: 1.45em;
}
.space-page-content p:last-child {
	padding-bottom: 0;
}
.space-page-content h1 {
    font-size: 2.369em;
    line-height: 1.1em;
}
.space-page-content h1,
.space-page-content h2,
.space-page-content h3,
.space-page-content h4,
.space-page-content h5,
.space-page-content h6 {
	margin: 10px 0;
}
.space-page-content table {
	width: 100%;
	margin: 1.45em 0 2.9em;
}
.space-page-content table tr th {
	text-align: left;
	padding: 10px 15px;
}
.space-page-content table tr {
	border-bottom: 1px solid #ededed;
}
.space-page-content table tbody tr td {
	padding: 10px 15px;
}
.space-page-content dl {
	margin-bottom: 2.9em;
}
.space-page-content dl dt,
.space-page-content dl dd {
	padding: 10px 15px;
	border-bottom: 1px solid #ededed;
}
.space-page-content dl dt {
	background-color: #fafafa;
}
.space-page-content ol,
.space-page-content ul {
	margin-bottom: 1.45em;
	margin-left: 30px;
}
.space-page-content ul li ul,
.space-page-content ul li ul li ul,
.space-page-content ol li ol,
.space-page-content ol li ol li ol {
	margin-bottom: 0;
}
.space-page-content ol {
	list-style: decimal;
}
.space-page-content ol li,
.space-page-content ul li {
	padding: 5px;
}
.space-page-content ul li {
	list-style: disc;
	position: relative;
}
.space-comments .space-page-content ul li:before {
	display: none;
}
.space-page-content ul.space-mark {
	list-style: none;
	margin-left: 0;
}
.space-page-content ul.space-mark li {
	list-style: none;
	padding: 5px 5px 5px 35px;
}
.space-page-content ul.space-mark li:before {
	content: "\f058";
	font-family: 'Font Awesome 5 Free' !important;
	font-weight: 400;
    position: absolute;
    font-size: 14px;
    top: 5px;
    left: 7px;
    color: #ff2453;
}
.space-page-content pre {
	background-color: #fafafa;
	border-bottom: 1px solid #ededed;
	margin-bottom: 1.45em;
	padding: 30px;
	border-radius: 2px;
	overflow-x: auto;
}
.space-page-content kbd,
.space-page-content code {
	font-weight: 700;
}
.space-page-content code {
	display: inline-flex;
	font-family: 'Roboto' !important;
	background-color: #f1f3f4;
	border-bottom: 1px solid #ededed;
	padding: 3px 20px;
	margin: 7px 0;
	border-radius: 2px;
	overflow-x: auto;
	font-weight: 400;
}
.space-page-content q {
	display: block;
    font-style: italic;
    font-size: 1.333em;
    line-height: 1.45em;
    font-weight: 300;
}
.space-page-content sub {
	vertical-align: sub;
}
.space-page-content sup {
	vertical-align: super;
}
.space-page-content address {
	font-weight: 300;
    font-style: italic;
    font-size: 1.333em;
    line-height: 1.45em;
	margin-bottom: 1.45em;
    padding: 30px;
    border: 1px solid #ededed;
}
.space-page-content input[type="text"],
.space-page-content input[type="tel"],
.space-page-content input[type="email"],
.space-page-content input[type="password"],
.space-page-content input[type="url"],
.space-page-content input[type="submit"],
.space-page-content textarea,
.space-page-content select {
	max-width: 100%;
	width: auto;
	margin-bottom: 10px;
}
.space-page-content-tags {
	overflow: hidden;
	margin-bottom: 60px;
	font-weight: 400;
	font-size: 0.75em;
	line-height: 1.45em;
	font-style: italic;
	color: #7f8c8d;
}
.space-page-content-tags a {
	color: #7f8c8d;
	padding-left: 3px;
}
.space-page-content-tags a:hover {
	text-decoration: underline;
}
.space-page-content-tags span {
	display: inline-block;
	color: #dfe6e9;
	margin-right: 5px;
}
.space-related-items-ins {
	padding-bottom: 0;
}
.read-more-block .space-page-wrapper {
	padding-bottom: 0;
}
.read-more-block {
	padding-bottom: 15px;
}
.type-casino .read-more-block .space-block-title,
.type-game .read-more-block .space-block-title,
.type-bonus .read-more-block .space-block-title {
	padding-bottom: 15px;
}
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 45px;
    height: 0;
    margin-top: 1.45em;
    margin-bottom: 2.9em !important;
}
.responsive-video iframe,   
.responsive-video object,  
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
}

/* Page Section End */

/* Comments Template Start */

.space-comments {
	overflow: hidden;
}
h3.comment-first-title {
	padding-top: 0;
	margin-top: 0;
}
h3.comment-reply-title {
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 5px;
}
.space-comments-ins {
	overflow: hidden;
	margin-bottom: 0;
	border-radius: 5px;
	background-color: #f1f3f4;
}
.space-comments-wrap {
	padding: 30px 30px 15px;
	overflow: hidden;
}
.space-comments-list {
	overflow: hidden;
	margin-bottom: 15px;
}
.space-comments-list ul.comment-list,
.space-comments-list ul.comment-list li ul {
	margin-bottom: 0;
	margin-left: 0;
	list-style: none;
}
.space-comments-list ul.comment-list li ul {
	margin-left: 30px;
}
.space-comments-list ul.comment-list li,
.space-comments-list ul.comment-list li ul li {
	padding: 0;
	overflow: hidden;
}
.space-comments-list-item-ins {
	background-color: #fff;
	border-radius: 5px;
	padding: 30px;
	margin: 15px 0;
	overflow: hidden;
}
.space-comments-list-item-avatar {
	top: 30px;
	left: 30px;
}
.space-comments-list-item-avatar img {
	border-radius: 50% !important;
}
.space-comments-list-item-data {
	padding-left: 100px;
}
.pingback .space-comments-list-item-data {
	padding-left: 0;
}
.space-comments-list-item-author {
	margin-bottom: 15px;
}
.space-comments-list-item-author {
	color: #2d3436;
	font-size: 1em;
	line-height: 1.45em;
	font-weight: 700;
}
.space-comments-list-item-author a {
	color: #2d3436 !important;
	font-size: 1em;
	line-height: 1.45em;
	font-weight: 700;
	text-decoration: underline;
}
.space-comments-list-item-author a:hover {
	color: #ff2453 !important;
	text-decoration: underline;
}
.space-comments-list-item-text {
	padding-bottom: 15px;
}
.space-comments-list-item-text p:last-child {
	padding-bottom: 0;
}
.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
	border: 0;
}
.space-comments-list-item-date,
.space-comments-list-item-date a,
p.logged-in-as,
p.logged-in-as a {
	color: #7f8c8d !important;
	font-size: 12px;
	line-height: 1.45em;
	font-weight: 400;
	text-decoration: none;
}
p.logged-in-as a:last-child {
	text-decoration: underline;
}
.space-comments-list-item-date a:hover {
	text-decoration: underline;
}
h3.comment-reply-title small a {
	color: #ff2453 !important;
	font-size: 12px;
	line-height: 1.45em;
	font-weight: 400;
	text-decoration: underline;
}
p.logged-in-as a:hover,
h3.comment-reply-title small a:hover {
	color: #ff2453 !important;
	text-decoration: underline;
}
.space-comments-list-item-date span {
	padding: 10px;
}
.space-comments-list-item-date a.comment-reply-link {
	margin-left: 15px;
	color: #ff2453 !important;
	text-decoration: underline;
}
.space-comments-list-item-date a.comment-reply-link:hover {
	color: #ff2453 !important;
	text-decoration: underline;
}
.comment-respond {
	overflow: hidden;
	position: relative;
	padding: 15px 0;
}
.space-comments-form-box,
form.comment-form {
	overflow: hidden;
	line-height: 1.45em;
}
.space-comments-form-box p.comment-notes,
form.comment-form p.comment-notes {
	padding-bottom: 30px;
	color: #7f8c8d !important;
	font-size: 12px;
	line-height: 1.45em;
	font-weight: 400;
}
.space-comments-form-box p.comment-notes span,
form.comment-form p.comment-notes span {
	font-weight:700;
}
.space-comments-form-box p.comment-notes span.required,
form.comment-form p.comment-notes span.required {
	color: #d63031;
	font-weight: 400;
}
form.comment-form p.form-submit {
	padding-bottom: 0;
}
.space-comments-form-box input[type="text"],
.space-comments-form-box input[type="email"],
.space-comments-form-box input[type="password"],
.space-comments-form-box input[type="submit"],
.space-comments-form-box input[type="url"],
form.comment-form input[type="text"],
form.comment-form input[type="email"],
form.comment-form input[type="password"],
form.comment-form input[type="submit"],
form.comment-form input[type="url"] {
	width: 50%;
}
.space-comments-form-box input[type="submit"],
form.comment-form input[type="submit"] {
	margin-bottom: 0;
}
form.comment-form textarea {
	width: 100%;
	height: 180px;
}

/* Comments Template End */

/* Standart WordPress Widgets Start */

.space-widget {
	overflow: hidden;
	max-width: 1200px;
	margin: 0 auto 30px;
	color: #2e3246;
	font-size: 1em;
	line-height: 1.45em;
	font-weight: 400;
}
.space-sidebar-section .space-widget:last-child {
	margin-bottom: 15px;
}
.space-sidebar-section .space-default-search-form input[type="search"] {
	margin-bottom: 10px;
}
.space-widget p {
	line-height: 1.48em;
	margin-bottom: 1.48em;
}
.space-widget p:empty {
	line-height: 0 !important;
	margin-bottom: 0 !important;
}
.space-widget p:blank {
	line-height: 0 !important;
	margin-bottom: 0 !important;
}
.space-widget-title {
	padding: 0 15px 30px;
	font-family: 'Roboto', sans-serif;
    color: #151515;
    font-size: 1.333em;
    line-height: 1.45em;
    font-weight: 700;
}
.space-widget-title span {
	z-index: 1;
	padding-left: 23px;
    position: relative;
}
.space-widget-title span:before {
	content: '';
    z-index: 1;
    opacity: 0.8;
    width: 11px;
    height: 11px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: 4px;
    background-color: #ff2453;
}
.space-widget-title span:after {
	content: '';
    z-index: -1;
    width: 11px;
    height: 11px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: 11px;
    background-color: #be2edd;
}
.space-default-widget {
	margin-left: 15px;
	margin-right: 15px;
}
.space-default-widget .space-widget-title {
	padding: 0 0 30px;
}
.space-default-widget label.screen-reader-text {
	margin-bottom: 1em;
	display: block;
}
.widget_archive ul,
.widget_categories ul,
.widget_meta ul {
	margin: 0 15px;
}
.space-widget ul li {
	border-bottom: 1px solid #dfe6e9;
}
.space-widget ul li,
.space-widget ul li a {
	color: #151515;
	padding: 8px 0 5px;
	position: relative;
}
.space-widget ul li a {
	font-size: 1em;
	line-height: 1.45em;
}
.space-widget ul li a:hover {
	color: #ff2453;
}
.space-widget p:last-child {
	padding-bottom: 0;
}
#calendar_wrap {
	font-size: 1em;
	line-height: 1.45em;
	color: #636e72;
}
#wp-calendar {
	width: 100%;
    text-align: center;
}
#wp-calendar a {
	color: #151515;
}
#wp-calendar caption {
	padding-bottom: 10px;
}
#wp-calendar #prev {
	text-align: left;
}
#wp-calendar #next {
	text-align: right;
}
.widget_rss ul li {
	margin-bottom: 15px;
}
.widget_rss ul li:last-child {
	margin-bottom: 0;
}
a.rsswidget {
	padding: 15px 0 5px;
	color: #151515;
}
span.rss-date {
	display: block;
	font-size: 0.75em;
    line-height: 1.45em;
    color: #7f8c8d;
}
div.rssSummary {
	color: #636e72;
	font-size: 1em;
	line-height: 1.45em;
	margin-top: 10px;
}
.widget_categories ul li,
.widget_pages ul li,
.widget_nav_menu ul li {
	padding: 8px 0 0;
}
.widget_categories ul.sub-menu li,
.widget_pages ul.children li,
.widget_nav_menu ul.sub-menu li {
	padding-left: 15px;
}
.widget_recent_entries ul li {
	margin-bottom: 10px;
	padding-top: 0;
}
.widget_recent_entries ul li:last-child {
	margin-bottom: 0;
}
.widget_recent_entries ul li span {
	display: block;
	margin-top: 2px;
    color: #7f8c8d;
    font-size: 12px;
    line-height: 18px;
    font-weight: 300;
}
.widget_recent_entries ul li a {
	color: #151515;
    font-weight: 700;
}
.widget_tag_cloud a {
	display: inline-block;
	background-color: #ff2453;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
    margin: 0 4px 6px 0;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 0.85em !important;
    line-height: 1.45em !important;
    color: #fff;
    text-decoration: none;
}
.widget_tag_cloud a:hover {
	background-color: #57606f;
	color: #fff !important;
	text-decoration: none;
}
#recentcomments li {
	font-weight: 300;
	margin-bottom: 10px;
	padding-top: 0;
	color: #7f8c8d;
}
#recentcomments ul li:last-child {
	margin-bottom: 0;
}
#recentcomments li a {
	color: #2d3436;
    font-weight: 700;
}
#recentcomments li span.comment-author-link a {
	font-weight: 400;
	color: #7f8c8d;
}
#recentcomments li a:hover,
#recentcomments li span.comment-author-link a:hover {
	color: #ff2453;
}
.home-page .textwidget {
	margin: 0 15px;
}
.home-page .textwidget h2,
.home-page .textwidget h3,
.home-page .textwidget h4,
.home-page .textwidget h5,
.home-page .textwidget h6 {
	margin: 23.2px 0;
}
.home-page .textwidget a {
	color: #ff2453;
	text-decoration: underline;
}
.home-page .textwidget a:hover {
	color: #be2edd;
}
.home-page .textwidget table {
	width: 100%;
	margin: 1.45em 0 2.9em;
}
.home-page .textwidget table tr th {
	text-align: left;
	padding: 10px 15px;
}
.home-page .textwidget table tr {
	border-bottom: 1px solid #ededed;
}
.home-page .textwidget table tbody tr td {
	padding: 10px 15px;
}
.home-page .textwidget dl {
	margin-bottom: 2.9em;
}
.home-page .textwidget dl dt,
.home-page .textwidget dl dd {
	padding: 10px 15px;
	border-bottom: 1px solid #ededed;
}
.home-page .textwidget dl dt {
	background-color: #fafafa;
}
.home-page .textwidget ol,
.home-page .textwidget ul {
	margin-bottom: 1.45em;
	margin-left: 30px;
	display: inline-block;
}
.home-page .textwidget ul li ul,
.home-page .textwidget ul li ul li ul,
.home-page .textwidget ol li ol,
.home-page .textwidget ol li ol li ol {
	margin-bottom: 0;
}
.home-page .textwidget ul {
	list-style: none;
}
.home-page .textwidget ol {
	list-style: decimal;
}
.home-page .textwidget ol li,
.home-page .textwidget ul li {
	padding: 5px;
	color: #2e3246;
	border-bottom: 0;
}
.home-page .textwidget ul {
	margin-left: 0;
}
.home-page .textwidget ul li {
	padding: 5px 5px 5px 35px;
	position: relative;
}
.home-page .textwidget ul li:before {
	content: "\f058";
	font-family: 'Font Awesome 5 Free' !important;
	font-weight: 400;
    position: absolute;
    font-size: 14px;
    top: 6px;
    left: 7px;
    color: #ff2453;
}
.home-page .textwidget pre,
.home-page .textwidget code {
	background-color: #f1f3f4;
	border-bottom: 1px solid #ededed;
	padding: 10px 15px;
	border-radius: 2px;
	overflow-x: auto;
}
.home-page .textwidget kbd,
.home-page .textwidget code {
	font-weight: 400;
}
.home-page .textwidget code {
	display: inline-block;
	font-family: 'Roboto' !important;
}

/* Standart WordPress Widgets End */

/* Footer Start */

.space-footer {
	overflow: hidden;
}
.space-footer-ins {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1170px;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
.space-footer-top {
	padding: 45px 0;
	background-color: #f1f3f4;
}
.space-footer-top-desc {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    align-items: center;
	order: 1;
}
.space-footer-top-desc span {
	display: block;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.45em;
	color: #7f8c8d;
}
.space-footer-top-age {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    align-items: center;
    justify-content: center;
	order: 2;
}
.space-footer-top-age span.age-limit {
	display: inline-block;
	width: 50px;
	height: 50px;
	color: #fff;
	font-weight: 700;
	border-radius: 50%;
	font-size: 1.333em;
	line-height: 49px;
	text-align: center;
	background-color: #ff2453;
}
.space-footer-top-soc {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    align-items: center;
    justify-content: flex-end;
	order: 3;
}
.space-footer-top-soc a {
	display: inline-block;
	border: 1px solid #7f8c8d;
	width: 50px;
	height: 50px;
	color: #7f8c8d;
	font-weight: 400;
	border-radius: 50%;
	font-size: 1.333em;
	line-height: 49px;
	text-align: center;
	margin-left: 10px;
	background-color: transparent;
}
.space-footer-top-soc a:hover {
	color: #fff;
	border: 1px solid #d63031;
	background-color: #d63031;
}
.space-footer-copy {
	padding: 30px 0;
	background-color: #111111;
}
.space-footer-copy-left {
	color: #777777;
	font-size: 0.75em;
	line-height: 1.25em;
	font-weight: 400;
}
.space-footer-copy-left a {
	color: #777777;
	text-decoration: underline;
}
.space-footer-copy-left a:hover {
	text-decoration: underline;
}
.space-footer-copy-menu ul {
	float: right;
}
.space-footer-copy-menu ul li {
	margin-left: 30px;
	float: left;
}
.space-footer-copy-menu ul li a {
	color: #777777;
	font-size: 0.75em;
	line-height: 1.25em;
	font-weight: 400;
	text-decoration: underline;
}
.space-footer-copy-menu ul li a:hover {
	text-decoration: underline;
}

.space-footer-area.space-widget {
	margin-bottom: 0;
	color: #7f8c8d;
}
.space-footer-area.space-widget a {
	color: #7f8c8d;
	text-decoration: underline;
}
.space-footer-area.space-widget p:last-child {
    margin-bottom: 0;
}
.space-footer-area.space-widget .aligncenter {
    padding-bottom: 0;
}
.space-footer-area.space-widget .alignleft {
    padding: 0;
}
.space-footer-area.space-widget .alignright {
    padding: 0;
}

/* Footer End */

/* Back to Top Start */

#scrolltop {
    position: fixed;
    bottom: 7px;
    right: 15px;
    z-index: 9999;
    width: 35px;
    height: 35px;
    text-align: center;
	font-size: 35px;
    line-height: 35px;
    color: #ff2453;
    cursor: pointer;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
#scrolltop:hover {
	color: #57606f;
}
#scrolltop.show {
    opacity: 1;
    visibility: visible;
    bottom: 21px;
}

/* Back to Top End */

/* MailChimp Form Widgets Start */

.home-page .widget_mc4wp_form_widget,
.space-content-section .widget_mc4wp_form_widget {
	overflow: hidden;
	background-color: #ecf0f1;
	text-align: center;
	padding: 60px 0;
	margin-bottom: 60px;
	color: #636e72;
}
.space-page-content-wrap .widget_mc4wp_form_widget {
	
}
.home-page .widget_mc4wp_form_widget .space-widget-title,
.space-content-section .widget_mc4wp_form_widget .space-widget-title {
	font-weight: 700;
	font-size: 3.157em;
    line-height: 1.2em;
}
.home-page .widget_mc4wp_form_widget .space-widget-title::after,
.space-content-section .widget_mc4wp_form_widget .space-widget-title::after {
	content: '';
	width: 60px;
	height: 2px;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #d63031;
}
.home-page .widget_mc4wp_form_widget .space-widget-title span,
.space-content-section .widget_mc4wp_form_widget .space-widget-title span {
	display: none;
}
.home-page .widget_mc4wp_form_widget .mc4wp-form-fields,
.space-content-section .widget_mc4wp_form_widget .mc4wp-form-fields {
	max-width: 570px;
	margin: 0 auto;
	overflow: hidden;
}
.home-page .widget_mc4wp_form_widget .mc4wp-form-fields .space-subscribe-filds,
.space-content-section .widget_mc4wp_form_widget .mc4wp-form-fields .space-subscribe-filds {
	overflow: hidden;
    background-color: #fff;
    border-radius: 30px;
    height: 60px;
}
.home-page .widget_mc4wp_form_widget .mc4wp-form-fields .space-subscribe-filds input[type="email"],
.space-content-section .widget_mc4wp_form_widget .mc4wp-form-fields .space-subscribe-filds input[type="email"] {
	padding-left: 30px;
	padding-right: 30px;
	width: 100%;
	background: transparent;
    height: 60px;
    border: 0;
    border-radius: 0;
}
.home-page .widget_mc4wp_form_widget .mc4wp-form-fields .space-subscribe-filds button,
.space-content-section .widget_mc4wp_form_widget .mc4wp-form-fields .space-subscribe-filds button {
	position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 4px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
    background-color: #74b9ff;
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}
.home-page .widget_mc4wp_form_widget .mc4wp-form-fields .space-subscribe-filds button:hover,
.space-content-section .widget_mc4wp_form_widget .mc4wp-form-fields .space-subscribe-filds button:hover {
	background-color: #a29bfe;
}
.space-sidebar-section .widget_mc4wp_form_widget .mc4wp-form-fields input[type="email"] {
	margin-bottom: 10px;
}
.widget_mc4wp_form_widget .mc4wp-response {
	margin-top: 10px;
}
.widget_mc4wp_form_widget .mc4wp-response a {
	color: #74b9ff;
	text-decoration: underline;
}
.widget_mc4wp_form_widget .mc4wp-response a:hover {
	color: #a29bfe;
	text-decoration: underline;
}

/* MailChimp Form Widgets End */

/* Contact Form 7 Start */

.wpcf7 {
	padding-bottom: 1.45em;
}
form.wpcf7-form label {
	font-size: 0.75em;
    line-height: 1.45em;
    font-style: italic;
    color: #636e72;
    padding-bottom: 5px;
    display: inline-block;
}
form.wpcf7-form p {
	padding-bottom: 10px;
}
form.wpcf7-form p:last-child {
	padding-bottom: 0;
}
div.wpcf7-response-output {
	margin: 2em 0 1em;
	font-size: 0.75em;
    line-height: 1.45em;
    font-style: italic;
    color: #636e72;
}
form.wpcf7-form textarea.wpcf7-textarea {
	width: 100%;
	background-color: #f9fafc;
}
form.wpcf7-form input[type="text"],
form.wpcf7-form input[type="tel"],
form.wpcf7-form input[type="search"],
form.wpcf7-form input[type="email"],
form.wpcf7-form input[type="password"],
form.wpcf7-form input[type="url"],
form.wpcf7-form textarea,
form.wpcf7-form select {
	font-size: 16px;
	background-color: #f9fafc;
}
form.wpcf7-form input[type="submit"] {
	margin-bottom: 0;
}

/* Contact Form 7 End */

/* WordPress Gallery Start */

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: 0 0 1.5em;
	width: 50%;
}
.gallery img {
	border: 1px solid #7f8c8d !important;
    padding: 5px;
}
.gallery dl dt, .gallery dl dd {
	background:none;
	border:0;
    padding:0;
}
.gallery dl.gallery-item dt.gallery-icon {
	padding:5px;
	overflow:hidden;
}
.gallery dl.gallery-item dd.gallery-caption {
	text-align: center;
	padding: 0 5px;
	font-size: 0.7862em;
    line-height: 1.48em;
    font-style: italic;
    color: #9e9e9e;
}
.gallery-columns-1 .gallery-item {
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: none;
	display: inline-block;
	max-width: 100%;
}
.sticky {
	line-height: 1.48em;
}

/* WordPress Gallery End */

/* Gutenberg Editor Start */

.wp-block-columns {
	margin-left: -15px;
	/* margin-right: -15px; */
	margin-bottom: 1.45em;
}
.wp-block-column {
	margin-left: 15px !important;
	margin-right: 15px;
}
.wp-block-columns p {
	line-height: 1.45em;
}
.wp-block-image {
	margin-top: 0.45em;
	margin-bottom: 1.45em;
}
hr.wp-block-separator {
	margin: 1.45em auto 2.9em;
	border: 0;
	width: 80%;
	height: 1px;
	background-color: #dfe6e9;
}
ul.wp-block-gallery {
	list-style: none;
	margin-left: -8px;
	margin-right: -8px;
	margin-top: 1.45em;
    margin-bottom: 2.9em;
}
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
	line-height: 1.45em;
	border-radius: 0 0 5px 5px;
}
.alignfull {
    margin-left: 0;
    margin-right: 0;
    width: auto;
    max-width: 100vw;
    margin-bottom: 2.9em;
}
.alignwide {
    margin-left: 0;
    margin-right: 0;
    width: auto;
    max-width: 100vw;
    margin-bottom: 2.9em;
}
ul.wp-block-gallery.alignfull, 
ul.wp-block-gallery.alignwide {
    margin-left: -8px !important;
    margin-right: -8px !important;
    width: auto !important;
    max-width: 100vw !important;
    margin-top: 1.45em !important;
    margin-bottom: 2.9em !important;
}
.alignwide img,
.alignfull img {
    display: block;
    margin: 0 auto;
}
.wp-block-image figcaption {
	padding: 0;
	margin-top: 5px;
    color: #7f8c8d;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}
.wp-block-image .aligncenter {
	margin: 0 auto;
	padding-bottom: 0;
}
.wp-block-image .aligncenter>figcaption,
.wp-block-image .alignleft>figcaption,
.wp-block-image .alignright>figcaption,
.wp-block-image.is-resized>figcaption {
	display: block;
}
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item {
	margin: 0;
}
.wp-block-cover-image.aligncenter,
.wp-block-cover.aligncenter {

}
.wp-block-cover.alignleft,
.wp-block-cover-image.alignleft {
	float: left;
    margin: 8px 30px 20px 0;
    padding: 0 30px;
}
.wp-block-cover.alignright,
.wp-block-cover-image.alignright {
	float: right;
    margin: 8px 0 20px 30px;
    padding: 0 30px;
}
.wp-block-cover,
.wp-block-cover-image {
    padding: 0;
}
.page-template-page-without-title .space-page-content .alignwide {
	margin-left : calc( -100vw / 2 + 100% / 2 );
	margin-right : calc( -100vw / 2 + 100% / 2 );
	max-width : 100vw;
}
.page-template-page-without-title .space-page-content .alignfull {
	margin-top: 0;
	margin-left : calc( -100vw / 2 + 100% / 2 );
	margin-right : calc( -100vw / 2 + 100% / 2 );
	max-width : 100vw;
}

blockquote.wp-block-pullquote p {
	padding-bottom: 10px;
}
blockquote.wp-block-pullquote {
	padding: 3em 15px;
}
.wp-block-pullquote > p {
	line-height: 30px;
}
blockquote.wp-block-pullquote cite {
	text-align: center;
	padding-top: 0;
}
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	padding: 1em;
}
.wp-block-button {
	padding-top: 1.45em;
}
.wp-block-buttons .wp-block-button {
	padding-top: 0;
}
.is-type-video {
    position: relative;
    padding-bottom: 56.25%;
    /* padding-top: 52px; */
    height: 0;
    margin-top: 1.45em;
    margin-bottom: 2.9em !important;
}
.is-type-video iframe,   
.is-type-video object,  
.is-type-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
}
.wp-block-button .wp-block-button__link:hover {
	background-color: #2d3436 !important;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
}
.wp-block-gallery .blocks-gallery-item{
	padding: 0 !important;
	margin: 8px !important;
}
ul.wp-block-latest-posts {
	background-color: #f5f6fa;
	margin-top: 1.45em;
	margin-bottom: 2.9em;
	margin-left: 0;
	border-radius: 5px;
	padding: 30px !important;
}
ul.wp-block-latest-posts li {
	line-height: 1.45em;
	list-style: none;
}
ul.wp-block-latest-posts li a {
	color: #151515;
	font-weight: 700;
}
ul.wp-block-latest-posts li a:hover {
	color: #b2bec3 !important;
}
.wp-block-latest-posts__post-date {
	color: #7f8c8d;
}
ol.wp-block-latest-comments {
	background-color: #f9fafc;
	margin-top: 1.45em;
	margin-bottom: 2.9em;
	margin-left: 0;
	list-style: none;
	border-radius: 5px;
	padding: 30px !important;
}
div.wp-block-categories {
	text-align: left;
}
div.wp-block-categories ul li {
	list-style: none;
	line-height: 1.45em;
}
div.wp-block-categories ul li a {
	color: #34495e;
	font-weight: 700;
}
a.wp-block-button__link {
	font-size: 16px;
	line-height: 1.25em;
	text-decoration: none;
	font-weight: 700;
    padding: 13px 40px;
    border-radius: 23px;
    display: inline-block;
}
.zero-padding-bottom {
    padding-bottom: 0 !important;
}
.zero-margin-bottom {
    margin-bottom: 0 !important;
}
.wp-container-3 {
    gap: 1em !important;
}
.wp-container-4 {
    gap: 1em !important;
}
.wp-container-5 {
    gap: 1em !important;
}
.wp-container-6 {
	gap: 1em !important;
}

/* --- Gutenberg Color Palette --- */

.has-mercury-white-color {
	color: #fff !important;
}
.has-mercury-white-background-color {
     background-color: #fff;
}
.has-mercury-gray-color {
	color: #263238 !important;
}
.has-mercury-gray-background-color {
     background-color: #263238;
}
.has-mercury-emerald-color {
	color: #2edd6c !important;
}
.has-mercury-emerald-background-color {
     background-color: #2edd6c;
}
.has-mercury-alizarin-color {
	color: #e74c3c !important;
}
.has-mercury-alizarin-background-color {
     background-color: #e74c3c;
}
.has-mercury-wisteria-color {
	color: #8e44ad !important;
}
.has-mercury-wisteria-background-color {
     background-color: #8e44ad;
}
.has-mercury-peter-river-color {
	color: #3498db !important;
}
.has-mercury-peter-river-background-color {
     background-color: #3498db;
}
.has-mercury-clouds-color {
	color: #ecf0f1 !important;
}
.has-mercury-clouds-background-color {
     background-color: #ecf0f1;
}

/* Gutenberg Editor End */

/* Shortcodes Start */

.space-shortcode-wrap {
	margin: 0 -15px;
}
.space-shortcode-wrap-ins {
	max-width: 1200px;
    margin: 0 auto;
}
.space-shortcode-1 .space-block-title,
.space-shortcode-2 .space-block-title,
.space-shortcode-4 .space-block-title,
.space-shortcode-5 .space-block-title,
.space-shortcode-8 .space-block-title {
	padding-bottom: 15px;
}

/* Shortcodes End */

/* Mercury Content Shortcode #1 Start */

.mercury-content-item-1-box a {
	text-decoration: none !important;
}
.mercury-content-item-1 {
	display: block;
}
.mercury-content-item-1 img {
	border-radius: 5px;
}
.mercury-content-item-1-ins {
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0px 10px 40px 0px rgba(109, 141, 173, 0.25);
	margin: 0 0 30px;
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	     -o-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}
.mercury-content-item-1-ins:hover {
	box-shadow: 0px 15px 40px 0px rgba(109, 141, 173, 0.55);
}
.mercury-content-item-1-wrap {
	padding: 30px;
}
.mercury-content-item-1-img {
	margin-bottom: 15px;
	line-height: 0;
}
.mercury-content-item-1-img img {
	max-width: 100%;
}
.mercury-content-item-1-title {
	margin-bottom: 5px;
	font-weight: 700;
    font-size: 1.333em;
    line-height: 1.25em;
    color: #151515;
    text-decoration: none !important;
}
.mercury-content-item-1-short-desc {
	font-weight: 400;
    font-size: 0.75em;
    line-height: 1.45em;
    color: #7f8c8d;
    text-decoration: none !important;
}

/* Mercury Content Shortcode #1 End */